[Desktop Entry]
Type=XSession
Exec=/usr/bin/quickrice-desktop
DesktopNames=KDE;i3;quickrice
Name=QuickRice Linux Desktop
Comment=Desktop environment for QuickRice Linux
Comment[de]=Desktop umgebung für QuickRice Linux
